@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/light.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/light_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/regular.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/medium.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/medium_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/bold.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/bold_italic.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/black.ttf") format("truetype");
}

@font-face {
    font-family: "Gotham Pro";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local("Gotham Pro"), url("/static/fonts/gotham_pro/black_italic.ttf") format("truetype");
}
