{% set icons = "https://use.fontawesome.com/releases/v6.1.1/js/all.js" %}

{% set image = "https://melodykit.app/static/images/icon.png" %}

{% set style = "/static/css/output.css" %}

{% set icon_svg = "/static/images/icon.svg" %}
{% set icon_png = "/static/images/icon.png" %}

{% set manifest = "/static/manifest.json" %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% block head %}

    <title>{{ title }}</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta author="MelodyKit">
    <meta name="description" content="{{ description }}">

    <meta property="og:site_name" content="MelodyKit">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">

    <meta name="application-name" content="MelodyKit">

    <meta name="mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="MelodyKit">

    <link rel="icon" type="image/svg+xml" href="{{ icon_svg }}">
    <link rel="icon" type="image/png" href="{{ icon_png }}">

    <link rel="apple-touch-icon" href="{{ icon_png }}">

    <link rel="manifest" href="{{ manifest }}">

    <script defer src="{{ icons }}"></script>

    {% endblock %}

    {% block include %}

    <link rel="preload" href="{{ style }}" as="style">

    <link rel="stylesheet" href="{{ style }}">

    {% endblock %}
  </head>
  <body class="antialiased transition ease-in-out bg-neutral-50 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-50 font-medium">

    {% block body %}

    {% endblock %}

  </body>
</html>
