{% extends "base.html" %}
{% set title = "Home" %}
{% set description = "MelodyKit - All your music, in one place." %}

{% set gradient = "/static/images/gradient.svg" %}

{% block body %}

{{ super() }}

<div class="flex flex-col h-screen px-4 sm:px-6 md:px-8">
  <header class="relative pt-6 lg:pt-8 flex items-center justify-between text-neutral-700 leading-6 dark:text-neutral-200">
    <div class="flex items-center space-x-8">
      <a href="/"><img class="w-auto h-10" src="{{ gradient }}"></img></a>
    </div>
    <div class="flex items-center space-x-8">
      <a class="text-neutral-900 dark:text-neutral-50 text-xl h-10 px-4 rounded-lg w-full sm:w-auto flex items-center justify-center bg-gradient-to-b from-melody-purple to-melody-blue" href="/logout">
        Log out
      </a>
    </div>
  </header>
</div>

{% endblock %}
