{% extends "base.html" %}
{% set title = "Reset - MelodyKit" %}
{% set description = "All your music, in one place." %}

{% set gradient = "/static/images/gradient.svg" %}

{% block body %}

{{ super() }}

<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-neutral-50 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-neutral-800 dark:border-neutral-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <a href="/"><img class="w-auto h-10" src="{{ gradient }}" alt="MelodyKit"></img></a>
        <h1 class="text-xl text-neutral-900 md:text-2xl dark:text-neutral-50">
          Reset password
        </h1>
        <form class="space-y-4 md:space-y-6" method="post" action="/reset">
          <div>
            <label for="password" class="block mb-2 text-neutral-900 dark:text-neutral-50">Password</label>
            <input type="password" name="password" id="password" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm font-mono rounded-lg block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-neutral-50" placeholder="••••••••" required>
          </div>
          <div>
            <label for="confirm_password" class="block mb-2 text-neutral-900 dark:text-neutral-50">Confirm password</label>
            <input type="password" name="confirm_password" id="confirm_password" class="bg-neutral-50 border border-neutral-300 text-neutral-900 sm:text-sm font-mono rounded-lg block w-full p-2.5 dark:bg-neutral-700 dark:border-neutral-600 dark:placeholder-neutral-400 dark:text-neutral-50" placeholder="••••••••" required>
          </div>
          <div class="flex items-center justify-between">
            <p class="text-neutral-600 dark:text-neutral-500">Note: changing the password revokes all sessions!</p>
          </div>
          <button type="submit" class="w-full text-neutral-900 dark:text-neutral-50 bg-gradient-to-b from-melody-purple to-melody-blue rounded-lg px-5 py-2.5 text-center">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
